* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  background: radial-gradient(circle at 20% 20%, #0f172a, #020617);
  color: white;
}

.no-selector{
  user-select: none;
}

/*  SWITCHING ANIMATION*/
#loader {
  position: fixed;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: radial-gradient(circle at 20% 20%, #0f172a, #020617);
  z-index: 9999;
}

#app-wrapper {
  opacity: 0;
  transform: scale(0.98);
  transition: opacity 0.5s ease, transform 0.5s ease;
}

#app-wrapper.show {
  opacity: 1;
  transform: scale(1);
}

/* LOADING ANIMATION */
#svg-global {
  zoom: 1.2;
  overflow: visible;
}

@keyframes fade-particles {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}

@keyframes floatUp {
  0% {
    transform: translateY(0);
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  100% {
    transform: translateY(-40px);
    opacity: 0;
  }
}

#particles {
  animation: fade-particles 5s infinite alternate;
}
.particle {
  animation: floatUp linear infinite;
}

.p1 {
  animation-duration: 2.2s;
  animation-delay: 0s;
}
.p2 {
  animation-duration: 2.5s;
  animation-delay: 0.3s;
}
.p3 {
  animation-duration: 2s;
  animation-delay: 0.6s;
}
.p4 {
  animation-duration: 2.8s;
  animation-delay: 0.2s;
}
.p5 {
  animation-duration: 2.3s;
  animation-delay: 0.4s;
}
.p6 {
  animation-duration: 3s;
  animation-delay: 0.1s;
}
.p7 {
  animation-duration: 2.1s;
  animation-delay: 0.5s;
}
.p8 {
  animation-duration: 2.6s;
  animation-delay: 0.2s;
}
.p9 {
  animation-duration: 2.4s;
  animation-delay: 0.3s;
}

@keyframes bounce-lines {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-3px);
  }
}

#line-v1,
#line-v2,
#node-server,
#panel-rigth,
#reflectores,
#particles {
  animation: bounce-lines 3s ease-in-out infinite alternate;
}
#line-v2 {
  animation-delay: 0.2s;
}

#node-server,
#panel-rigth,
#reflectores,
#particles {
  animation-delay: 0.4s;
}


/* PHONE FRAME STYLE */
.app {
  width: 360px;
  height: 640px;
  border-radius: 30px;
  padding: 20px;

  background: linear-gradient(180deg, #020617, #0f172a);
  box-shadow: 0 30px 60px rgba(0,0,0,0.8);

  display: flex;
  flex-direction: column;
}

/* HEADER */
.header {
  font-size: 14px;
  color: #94a3b8;
  margin-bottom: 10px;
}

.title {
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 15px;
}

/* CIRCLE CONTAINTER */
.circle {
  width: 200px;
  height: 200px;
  border-radius: 50%;

  margin: 0 auto 20px;

  display: flex;
  align-items: center;
  justify-content: center;

  background: conic-gradient(
    #22c55e 0%,
    #4ade80 40%,
    #3b82f6 70%,
    #9333ea 100%
  );

  padding: 4px;
}

.circle-inner {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: #020617;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.result {
  font-size: 28px;
  font-weight: 800;
}

.sub {
  font-size: 12px;
  color: #64748b;
}

.card {
  margin-top: 10px;
  background: rgba(255,255,255,0.05);
  border-radius: 20px;
  padding: 20px;

  backdrop-filter: blur(20px);
}

.input-group {
  margin-bottom: 15px;
}

.auto-input-group {
  margin-bottom: 5px;
}

.label {
  font-size: 11px;
  color: #64748b;
  margin-bottom: 5px;
}

input {
  width: 100%;
  padding: 14px;
  border-radius: 12px;

  background: rgba(255,255,255,0.05);
  border: 1px solid transparent;

  color: white;
  font-size: 16px;

  transition: 0.2s;
}

input:focus {
  outline: none;
  border-color: #22c55e;
  box-shadow: 0 0 10px rgba(34,197,94,0.4);
}

.clear-fields-button{
  width: 20%;
  padding: 4px;
  margin-top: 5px;

  border-radius: 20px;
  border: 2px solid rgba(17, 170, 78, 0.3);
  background-color: transparent;
  color: #ffffff;

  font-size: 10px;
  font-weight: bold;
  cursor: pointer;
}

.clear-fields-button:hover {
  box-shadow: 0 2px 10px rgba(34,197,94,0.3);
}

.clear-fields-button:active {
  background-color: rgba(17, 170, 78, 0.3);
}

.clear-fields-button-container{
  display: flex;
  justify-content: end;
}

.calculate-button {
  width: 100%;
  padding: 14px;
  margin-top: 10px;

  border-radius: 12px;
  border: none;

  background: linear-gradient(135deg, #22c55e, #16a34a);
  color: black;

  font-weight: bold;
  font-size: 15px;

  cursor: pointer;
  transition: 0.2s;
}

.calculate-button:hover {
  transform: translateY(-2px);
  box-shadow: 0 10px 20px rgba(34,197,94,0.3);
}

.top-nav{
  display: flex;
  justify-content: space-between;
}

.switch {
  font-size: 17px;
  position: relative;
  display: inline-block;
  width: 3.1em;
  height: 1.5em;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  inset: 0;
  border: 2px solid rgba(17, 170, 78, 0.3);
  border-radius: 50px;
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.slider:before {
  position: absolute;
  content: "";
  height: 1em;
  width: 1em;
  left: 0.2em;
  bottom: 0.2em;
  background-color: white;
  border-radius: inherit;
  transition: all 0.4s cubic-bezier(0.23, 1, 0.320, 1);
}

.switch input:checked + .slider {
  box-shadow: 0 0 20px rgba(34,197,94,0.3);
  border: 2px solid rgba(17, 170, 78, 0.3);;
}

.switch input:checked + .slider:before {
  transform: translateX(1.5em);
}

.container-auto-compute{
  margin: auto;
}

/* BOX CONTAINER */

.box {
  width: 100%;
  padding: 18px;

  border-radius: 18px;

  background: rgba(255, 255, 255, 0.04);
  border: 1px solid rgba(34, 197, 94, 0.45);

  backdrop-filter: blur(18px);

  box-shadow:
    0 10px 30px rgba(0, 0, 0, 0.35),
    inset 0 1px 0 rgba(255, 255, 255, 0.05);
  
  margin-bottom: 10px;

  transition: 0.3s ease;
}

.box-inner {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.box .sub {
  font-size: 11px;
  color: #64748b;
}

.box .result {
  font-size: 22px;
  font-weight: 700;
  color: #ffffff;
}

.auto-result-profit-1, .auto-result-profit-2, .auto-result-profit-3 {
  font-weight: 800;
  color: #22c55e;
  text-shadow: 0 0 10px rgba(34, 197, 94, 0.25);
}

.auto-result-risk {
  font-weight: 800;
  color: #ef4444;
  text-shadow: 0 0 10px rgba(239, 68, 68, 0.2);
}

.result-profit-container{
  display: flex;
  justify-content: start;
  gap: 15px;
}

/* CONTAINER ANIMATION */
.app {
  overflow: hidden;
}

.container-solo-compute,
.container-auto-compute {
  transition:
    opacity 0.3s ease,
    transform 0.3s ease;

  opacity: 1;
  transform: translateX(0);

  width: 100%;
}

.hidden {
  opacity: 0;
  transform: translateX(100px);

  pointer-events: none;

  height: 0;
  overflow: hidden;
}

